.answering{
  background-color: $main;
  border-color: $main;
}
.answering-list{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,10px));
  grid-template-rows: auto;
  grid-column-gap: 30px;
  justify-content: center;
  padding:10px;
}
.answer{
  i{
    font-size: 2rem;
  }
  i.empty {
     color: $error;
     font-weight: bold;
  }
  i.short {
    color: $ok;
  }
  i.filled {
     color: $ok;
   }
}
dl.answer dt {
  font-weight: bold;
}