:root {
    /*--main: rgba(155, 77, 202, 1);
    --managing: rgba(224, 164, 88, 1);
    --results: rgba(65, 157, 120, 1);*/
    --main: #008DEB;
    --managing: #5658ce;
    --results: #08a586;
    --grey: #606c76;
    --grey-white: #eee;
    --error:rgba(244, 88, 102, 1);
    --ok:rgba(65, 157, 120, 1);
}
body {
    margin: 0;
}
a{
    color: var(--main);
}
header{
    background-color: var(--main);
}
.button, button, input[type='button'], input[type='reset'], input[type='submit']{
    background-color: var(--main);
    border-color: var(--main);
}
.answering{
    background-color: var(--main);
    border-color: var(--main);
}
.managing{
    background-color: var(--managing);
    border-color: var(--managing);
}
.results{
    background-color: var(--results);
    border-color: var(--results);
}
header.heading section {
    display: flex;
    height: 5rem;
    color: white;
}
header.heading img {
    height: 100%;
}
header .title-label{
    margin: auto auto auto 2rem;
}
header .title-label-bold{
    font-weight: bold;
}
header.dashboard .container{
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}
header.dashboard .container h1 {
    letter-spacing: 1.1rem;
}
.container{
    padding: 0 2rem;
}
.answering-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,10px));
    grid-template-rows: auto;
    grid-column-gap: 30px;
    justify-content: center;
    padding:10px;
}
.column.card{
    padding: 10px;
    margin: 10px;
    border-radius: 0.4rem;
    text-align: center;
    background-color: var(--grey-white);
}
.column.card .button{
    width: 100%;
}

.answer i{
    font-size: 2rem;
}
.answer i.empty {
    color: var(--error);
    font-weight: bold;
}
.answer i.short {
    color: var(--ok);
}
.answer i.filled {
    color: var(--ok);
}
dl.answer dt {
    font-weight: bold;
}